<div class="search-container">
    <div class="filter-container" (click)="toggle()">
        <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 20.5001C1 -5.05739 40 -5.93887 40 20.4999C40 46.9387 1 46.0575 1 20.5001Z" stroke="white" stroke-width="2"/>
            <path d="M20.7668 29L23.6126 12H26.323L23.4771 29H20.7668ZM13 24.7832L13.4489 22.127H27.0006L26.5517 24.7832H13ZM14.6685 29L17.5144 12H20.2247L17.3789 29H14.6685ZM13.991 18.873L14.4483 16.2168H28L27.5426 18.873H13.991Z" fill="white"/>
            </svg>
    </div>
    <form [formGroup]="form" class="search-field">
        <input class="field" formControlName="search">
        <div class="search" (click)="find()">
            <img src="assets/search.svg" alt="search">
        </div>
    </form>
</div>
<div *ngIf="tapped" class="tag-container">
    <div *ngFor="let tag of tags" class="hash" (click)="fill(tag, $event)">
        {{tag}}
    </div>
</div>
