<div class="container">
    <div class="logo-container">
        <img src="assets/logo.svg" alt="logo">
    </div>
    <div class="form-container">
        <div class="field-container">
            <span class="label" >Login</span>
            <input class="field" type="text">
        </div>
        <div class="field-container">
            <span class="label" >Password</span>
            <input class="field" type="text">
        </div>
        <div class="button-row">
            <div class="button button-signup">Sign up</div>
            <div class="button button-login">Login</div>
        </div>
    </div>
</div>